<!-- About Section -->
<section class="success" id="code">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Code</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>HypoPG is available under the PostgreSQL license. You allowed to download, use and modify this software as long as you maintain our copyright notice.</p>
      </div>
      <div class="col-lg-4">
        <p>The main code is a PostgreSQL extension written in C.</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/dalibo/hypopg/archive/REL_0_0_1.zip" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download
        </a>
        &nbsp;
        <a href="https://github.com/dalibo/hypopg/blob/master/README.md#installation" class="btn btn-lg btn-outline">
          <i class="fa fa-flash"></i> Install
        </a>
        &nbsp;
        <a href="https://github.com/dalibo/hypopg/" class="btn btn-lg btn-outline">
          <i class="fa fa-github"></i> Fork
        </a>
      </div>
    </div>
  </div>
</section>
