<!-- Contact Section -->
<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Contact Us</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">

        <h3> Report an Issue </h3>
        <p>Please use the bug tracking system in the github project page:
        <a href="https://github.com/dalibo/hypopg/issues">https://github.com/dalibo/hypopg/issues</a></p>

        <h3>Feedback</h3>
        <p>We're looking for comments and contributions to improve this tools.
        <a href="mailto:powa@dalibo.com">powa@dalibo.com</a>
        and let us know how we can make it better.</p>

        <h3>Community</h3>
        <p>You can find help, news and security alerts on the
        <a href='https://groups.google.com/forum/?hl=fr#!forum/powa-users'>powa-users mailing list</a>.
        You can also join directly the developer team on the #powa channel of
        the freenode IRC network.</p>

        <h3>Commercial support</h3>
        <p>DALIBO, as the sponsor of the project, can provide enterprise grade
        support services for both PostgreSQL, HypoPG and POWA.
        See <a href="http://www.dalibo.com" title="PostgreSQL Support">http://www.dalibo.com</a>
        for more details.</p>

      </div>
    </div>
  </div>
</section>
