<!-- About Section -->
<section id="demo">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Demo</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>An example of HypoPG usage is available on the official PoWA demo.
          Check out our live demo and test it by yourself.</p>
        <p>Please let us know what you think of it and how we can improve this tools !</p>
      </div>
      <div class="col-lg-4">
        <p>server : <a href="http://demo-powa.dalibo.com/database/obvious/query/FIXME">http://demo-powa.dalibo.com/</a></p>
        <p>login  : powa</p>
        <p>pass   : demo</p>
      </div>
    </div>
  </div>
</section>
