<!-- About Section -->
<section class="success" id="doc">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Documentation</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">

        <p>The HypoPG documentation is available online.</p>
      </div>
      <div class="col-lg-12 text-center">
        <a href="https://github.com/dalibo/hypopg/blob/master/README.md" class="btn btn-lg btn-outline">
          <i class="fa fa-book"></i>Documentation
        </a>
      </div>
    </div>
  </div>
</section>
